.layout {
    height: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    justify-content: center;
}

.example-card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover{
        box-shadow: yellow;

    }
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.content {
    flex: 1
}

.card-footer {
    justify-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-right{
    padding-right: 10px;
}