<div class="layout">
    <div class="cards">
        <mat-card class="example-card mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Koncert „Po co nam wolność?” – 13 grudnia 2021</mat-card-title>
                <mat-card-subtitle>Artykuł</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="content">
                <p>
                    13 grudnia 2021 roku o godz. 20.15 w Teatrze Polskim w Warszawie rozpocznie się niezwykły koncert zorganizowany przez Instytut Pamięci Narodowej. Będzie to muzyczna opowieść o jednym z najbardziej mrocznych okresów w historii PRL. Znakomici polscy artyści...
                </p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions class="card-footer">
                <div class="group-left">
                    <button mat-button>#grudzień #prl #stan [...]</button>

                </div>
                <div class="group-right">
                    
                </div>
                
            </mat-card-actions>
        </mat-card>
    
        <mat-card class="example-card mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Wystawa elementarna IPN „Stan wojenny 1981–1983”</mat-card-title>
                <mat-card-subtitle>Obraz</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://ipn.gov.pl/dokumenty/zalaczniki/1/1-663149.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="content">
                <p>
                   
                </p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions class="card-footer">
                <div class="group-left">
                    <button mat-button>#stan #wojenny</button>
                </div>
                <div class="group-right">
                    12 sie 2021
                </div>
                
            </mat-card-actions>
        </mat-card>
    
        <mat-card class="example-card mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Nierozliczone zbrodnie stanu wojennego - cykl Kulisy historii odc. 2</mat-card-title>
                <mat-card-subtitle>Wideo</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://i.ytimg.com/vi/ZV2caZgh20E/hqdefault.jpg" alt="Photo of zbrodnie">
            <mat-card-content class="content">
                <p>
                    Masakra w kopalni „Wujek”, zastrzelenie uczestników demonstracji w Lubinie, śmiertelne pobicie Grzegorza Przemyka – to tylko niektóre zbrodnie stanu wojennego. Kto ponosi za nie odpowiedzialność❓ Dlaczego winni tych zbrodni nie zostali ukarani ❓ 📺OBEJRZYJ nasz program i DOWIEDZ SIĘ ❗
                </p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions class="card-footer">
                <div class="group-left">
                    <button mat-button>#wojenny</button>
                </div>
                <div class="group-right">
                    11 gru 2020
                </div>
                
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card mat-elevation-z8">
            <mat-card-header>
                <mat-card-title>Marcin Krzek-Lubowiecki: Stan wojenny na polecenie Kremla</mat-card-title>
                <mat-card-subtitle>PDF</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="content">
                <p>
                    Jedno ze spotkań odbyło się tuż za granicą PRL. 3 kwietnia w Brześciu nad Bugiem Stanisław Kania i Wojciech Jaruzelski spotkali się z sowieckimi przywódcami. „Wszyscy jesteśmy bardzo zaniepokojeni dalszym rozwojem wydarzeń w Polsce” – powiedział Leonid Breżniew na początku kwietnia. Kremlowscy dygnitarze dali polskim komunistom jasno do zrozumienia  że oczekują zdecydowanych działań w stosunku do opozycji i „Solidarności”. Kreml nie jest zadowolony Wiosna 1981 r. była dla polskich komunistów burzliwym okresem. Od 16 marca na terenie Polski trwały ćwiczenia wojsk Układu Warszawskiego – „Sojuz 81”
                </p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions class="card-footer">
                <div class="group-left">
                    <button mat-button>#solidarność #prl #wprowadzenie [...]</button>
                </div>
                <div class="group-right">
                </div>
                
            </mat-card-actions>
        </mat-card>

        
    </div>
</div>
