@import "~@angular/material/prebuilt-themes/purple-green.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body { height: 100%;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
 }



 .mat-drawer-inner-container::-webkit-scrollbar {
    width: 10px;
}

.mat-drawer-inner-container::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 50px;
}
 
.mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 50px;
}


.mat-drawer-content::-webkit-scrollbar {
    width: 10px;
}

.mat-drawer-content::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 50px;
}
 
.mat-drawer-content::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 50px;
}