$toolbar-height: 60px;

.toolbar {
    display: flex;
    justify-content: space-between;
    height: $toolbar-height;
    //justify-content: center;
    //align-items: center;
}

.container {
    height: calc(100% - #{$toolbar-height});
}


.example-full-width {
    //min-width: 150px;
    width: 500px;
}

.example-container {
    height: 100%;
}

.content {
    height: 100%;
}


