.container {
    padding: 10px;
    
}

.container::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}


.box {
    padding: 10px 0px;
}

.box-title {
    font-size: 16px;
    font-weight: 500;
}

.list {
    padding: 0px 20px
}

.list-item {
    padding: 5px;
}