<div class="container">
    <div class="box">
        <span class="box-title">Filtry</span>
        <div class="list">
            <div class="list-item">
                <mat-checkbox [checked]="true">Tytuły</mat-checkbox>
            </div>
            <div class="list-item">
                <mat-checkbox [checked]="true">Teksty</mat-checkbox>
            </div>
            <div class="list-item">
                <mat-checkbox [checked]="true">Obrazy</mat-checkbox>
            </div>
            <div class="list-item">
                <mat-checkbox [checked]="true">Wideo</mat-checkbox>
            </div>
        </div>
    </div>

    <div class="box">
        <span class="box-title">Strony</span>
        <div class="list">
            <div class="list-item" *ngFor="let page of pages">
                <mat-checkbox [checked]="true">{{page}}</mat-checkbox>
            </div>
        </div>
    </div>
</div>

